@CHARSET "UTF-8";

#views-exposed-form-klassenraden-notities-overzicht div.views-exposed-widget{
	margin-bottom: 4px;
}

#argus_klassenraden_notities th{
	font-weight: bold;
}

#argus_klassenraden_notities textarea{
	width: 100%;
	height: 100px;
}


/* Editing form */
div.argus_klassenraden_action_model{
	display: none;
}

table.argus_klassenraden_action_model{
	width: 100%;
	border-collapse: inherit;
	border-bottom: 1px solid;
	margin: 0;
	padding: 10px;
}

textarea.argus_klassenraden_remarks{
	width: 100%;
}