@CHARSET "UTF-8";

.container > div {
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
    box-sizing: border-box;
}
@media (max-width: 480px) { /*breakpoint*/
    .container > div {
        display: block;
        width: 100%;
    }
}

.profile menu,
.profile ol,
.profile ul,
.profile dl {
    padding: 0px;
    margin: 0em;
    margin-left: 20px;

}

.profile #panel-opdracht,
.profile #panel-inzet,
.profile #panel-absenteisme,
.profile #panel-nascholingen,
.profile #panel-emaima,
.profile #panel-extra,
.profile #panel-infra,
.profile #panel-links{
    border: 1px solid;
    border-radius: 5px;
    padding: 0px 10px 5px 10px;
}

.profile #panel-opdracht,
.profile #panel-inzet{
    border-color: #B00057;
}
    .profile #panel-opdracht legend,
    .profile #panel-inzet legend{
        color: #B00057;
    }
    .profile #panel-opdracht hr,
    .profile #panel-inzet hr{
        background-color: #B00057;
    }

.profile #panel-absenteisme,
.profile #panel-nascholingen{
    border-color: #006A32;
}
    .profile #panel-absenteisme legend,
    .profile #panel-nascholingen legend{
        color: #006A32;
    }
    .profile #panel-absenteisme hr,
    .profile #panel-nascholingen hr{
        background-color: #006A32;
    }

.profile #panel-emaima,
.profile #panel-extra{
    border-color: #006CB7;
}
    .profile #panel-emaima legend,
    .profile #panel-extra legend{
        color: #006CB7;
    }
    .profile #panel-emaima hr,
    .profile #panel-extra hr{
        background-color: #006CB7;
    }

.profile #panel-infra,
.profile #panel-links{
    border-color: #c7c013;
}
    .profile #panel-infra legend,
    .profile #panel-links legend{
        color: #c7c013;
    }
    .profile #panel-infra hr,
    .profile #panel-links hr{
        background-color: #c7c013;
    }
