@CHARSET "UTF-8";

.container > div {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    box-sizing: border-box;
}
@media (max-width: 480px) { /*breakpoint*/
    .container > div {
        display: block;
        width: 100%;
    }
}

.profile menu,
.profile ol,
.profile ul,
.profile dl {
    padding: 0px;
    margin: 0em;
    margin-left: 20px;

}

.profile #panel-afwezigheden,
.profile #panel-gedrag,
.profile #panel-studiebegeleiding,
.profile #panel-stages{
	border: 1px solid;
    border-radius: 5px;
    padding: 0px 10px 5px 10px;
}

.profile #panel-afwezigheden{
    border-color: #B00057;
}
    .profile #panel-afwezigheden legend{
        color: #B00057;
    }
    .profile #panel-afwezigheden hr{
        background-color: #B00057;
    }

.profile #panel-gedrag{
    border-color: #006A32;
}
    .profile #panel-gedrag legend{
        color: #006A32;
    }
    .profile #panel-gedrag hr{
        background-color: #006A32;
    }

.profile #panel-studiebegeleiding{
    border-color: #006CB7;
    margin-right: 0px;
}
    .profile #panel-studiebegeleiding legend{
        color: #006CB7;
    }
    .profile #panel-studiebegeleiding hr{
        background-color: #006CB7;
    }

.profile #panel-stages{
    border-color: #b89f16;
    margin-right: 0px;
}
    .profile #panel-stages legend{
        color: #b89f16;
    }
    .profile #panel-stages hr{
        background-color: #b89f16;
    }

.profile #argus_soda-report{
	width: 100%;
}
	.profile #argus_soda-report td{
		text-align: center;
	}
	.profile #argus_soda-report thead,
	.profile #argus_soda-report .thead-col{
	    background-color: #34acd7;
	    font-weight: bold;
	    color: white;
	}
	.profile #argus_soda-report .thead-col{
	    background-color: #eb8c32;
	}
	.profile #argus_soda-report #soda-result{
	    font-size: 8em;
	    font-weight: bold;
	}